#inmyroom{
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
}

#retinalhole{
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
}

#raindance{
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
}

#beauty{
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
}

#alternity{
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
}
#up-late{
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
}
