body{
	width: 100%;
	font-family: monospace;
	background-color: #fff;
	color: hotpink;
	padding-top: 20vh;
}

a{
	text-decoration: none;
}
 
header{
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 10vh;
	padding: 2%;
	border-bottom: dashed 0.4em orange;
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: hotpink;
	animation: hueRotate 10s linear infinite;
	mix-blend-mode: difference;
}

@font-face{
	font-family: bebasNeue;
	src: url(Fonts/Bebas_Neue/BebasNeue-Regular.ttf);
}

header h1{
	font-family: bebasNeue;
	font-size: 6vw;


}


header nav{
	font-size: 2vw;
	margin-right: 2em;
}

header nav a{
	margin-left: 1em;
	transition: border 0.3 ease-in-out;
}

header nav a:hover{
	border-bottom: dashed 0.18em hotpink;
	padding-bottom: 0.2em;

}

.selected{
	border-bottom: solid 0.18em limegreen;
	padding-bottom: 0.2em;
}

.photos{
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	align-content: center;
	/*max-width: 1080;*/
	margin-top: 4vh;

	
}

.photo{
	/*display: inline-block;*/
	margin: 3%;
	/*vertical-align: middle;*/
/*	cursor: url('images/blue-cloud.png'), auto;*/

}

.photo img{
	width: 75vw;
	border: solid .35em black;
	/*transition: mix-blend-mode 0.3s;*/
/*	cursor: url('images/blue-cloud.png'), auto;*/
}

.photo img:hover {
filter: brightness(125%);
/*	cursor: url('images/blue-cloud.png'), auto;*/
}



.caption{
/*	margin: 0 auto;*/
display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	align-items: center;
	align-content: center;
	justify-content: center;
	background: #fff;
	color: black;
	width: 90%;
	text-align: center;
}

.caption h2{
	font-family: monospace;
	font-size: 1rem;
	color: hotpink;
	animation: hueRotate 10s linear infinite;
	margin-top: 3%;


}
.caption p{

	font-family: monospace;
	font-size: .5rem;
	color: black;
	margin: 0;

}

h1{
	font-family: monospace;
	font-size: 1.5vw;
	color: hotpink;
	animation: hueRotate 10s linear infinite;
	margin-top: 3%;


}




.artist-statement{
	margin: 2% auto;
	width: 80%;
	/*border: 5px dashed purple;*/
	/*animation: hueRotate 10s linear infinite;*/
	padding: 3%;
	text-align: justify;
	color: black;
	font-size: 1.5vw;
	}

	.aftm-statement, .ktc-statement{
	margin: 2% auto;
	width: 80vw;
	/*border: 5px dashed purple;*/
	/*animation: hueRotate 10s linear infinite;*/
	padding: 3%;
	text-align: justify;
	color: black;
	font-size: 1rem;
	}

	.aftm-statement h1{
		font-size: 1.2rem
	}

	.steps{
	display: flex;
	margin: 0 auto;
	justify-content: space-between;
	padding: 2%;
	font-family: bebasNeue;
}


footer{
	width: 100vw;
	height: 8vh;
	overflow: hidden;
	border-top: 0.4em dashed black;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

footer p{
	float: left;
}

footer nav{
	float: right;
}

footer img{
	width: 200%;

}

footer nav a{
	width: 1em;
	margin-left: 2em;
	display: inline-block;
}



@keyframes hueRotate {
	0%{

	}

	25%{
		filter: hue-rotate(90deg);

	}

	50%{
		filter: hue-rotate(180deg);
	}

	75%{
		filter: hue-rotate(270deg);
	}

	100%{
		filter: hue-rotate(360deg);
	}
}


#cv{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: auto;
}








