body{
	width: 100%;
	font-family: monospace;
	background-color: #fff;
	color: hotpink;
	padding-top: 20vh;
}

a{
	text-decoration: none;
}
 
header{
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 10vh;
	padding: 2%;
	border-bottom: dashed 5px orange;
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: hotpink;
	animation: hueRotate 10s linear infinite;
	mix-blend-mode: difference;
}

@font-face{
	font-family: bebasNeue;
	src: url(Fonts/Bebas_Neue/BebasNeue-Regular.ttf);
}

header h1{
	font-family: bebasNeue;
	font-size: 6vw;


}


header nav{
	font-size: 2vw;
	margin-right: 5%;
}

header nav a{
	margin-left: 20px;
	transition: border 0.3 ease-in-out;
}

header nav a:hover{
	border-bottom: dashed 4px hotpink;
	padding-bottom: 4px;

}

.selected{
	border-bottom: solid 4px limegreen;
	padding-bottom: 4px;
}

.photos{
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	/*max-width: 1080;*/
	margin-top: 5vh;

	
}

.photo{
	/*display: inline-block;*/
	margin: 3%;
	/*vertical-align: middle;*/
/*	cursor: url('images/blue-cloud.png'), auto;*/

}

.photo img{
	width: 35vw;
	border: solid 5px black;
	transition: mix-blend-mode 0.3s;
/*	cursor: url('images/blue-cloud.png'), auto;*/
}

.photo img:hover {
filter: brightness(125%);
/*	cursor: url('images/blue-cloud.png'), auto;*/
}

#highlight-photo img{
		width: 75vw;

}

.caption{
	margin: 2%;
	background: #fff;
	color: black;
	width: 100%;
	text-align: center;
}

.caption h2{
	font-family: monospace;
	font-size: 1vw;
	color: hotpink;
	animation: hueRotate 10s linear infinite;
	margin-top: 3%;


}

h1{
	font-family: monospace;
	font-size: 1.5vw;
	color: hotpink;
	animation: hueRotate 10s linear infinite;
	margin-top: 3%;


}


.caption p{

	font-family: monospace;
	font-size: .5vw;
	color: black;
	margin: 0;

}

.artist-statement{
	margin: 2% auto;
	width: 80%;
	/*border: 5px dashed purple;*/
	/*animation: hueRotate 10s linear infinite;*/
	padding: 3%;
	text-align: justify;
	color: black;
	font-size: 1.5vw;
	}

	.aftm-statement, .ktc-statement{
	margin: 2% auto;
	width: 80%;
	/*border: 5px dashed purple;*/
	/*animation: hueRotate 10s linear infinite;*/
	padding: 3%;
	text-align: justify;
	color: black;
	font-size: 1vw;
	}

	.steps{
	display: flex;
	margin: 0 auto;
	justify-content: space-between;
	padding: 2%;
	font-family: bebasNeue;
}


footer{
	width: 100vw;
	height: 8vh;
	overflow: hidden;
	border-top: 5px dashed black;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

footer p{
	float: left;
}

footer nav{
	float: right;
}

footer img{
	width: 200%;

}

footer nav a{
	width: 16px;
	margin-left: 5px;
	display: inline-block;
}



@keyframes hueRotate {
	0%{

	}

	25%{
		filter: hue-rotate(90deg);

	}

	50%{
		filter: hue-rotate(180deg);
	}

	75%{
		filter: hue-rotate(270deg);
	}

	100%{
		filter: hue-rotate(360deg);
	}
}


#cv{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: auto;
}

























===================LUELLA=====================

.slideshow{
	position: relative;
	width: 100vw;
	height: 100vh;
	border: 5px solid black;
	overflow: hidden;
	margin-top: 60px;
}

.holder{
	position: relative;
	top: 0;
	left: -100vw;
	width: 1000vw;
	height: 100vh;
	transition: left 1s;
	margin-top: 60px;


}

.holder div{
	float: left;
	width: 80%;
	height: 70%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	padding: 20px;

}

.slide-1{
	background-image: url(images/Luella.jpg);
}



