html body {
  overflow: hidden;
}

 

 #terminal{
/* 	mix-blend-mode: screen;*/
	position: absolute;
	width: 100vw;
	height: 100vw;
	background: linear-gradient(to bottom,#185a9d, #45a247);
/*background: linear-gradient(to bottom,#A770EF, #FDB99B);*/
}




#large-frame{
  border-radius: 50%; 
	z-index: 900;
	mix-blend-mode: color-burn;
	position: absolute;
    height: 750px;
    width: 750px;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%) rotate(45deg);
    background: radial-gradient(#59C173, #a17fe0, #5D26C1);
    box-shadow:
        10px 10px 100px #c63f35;           /* outer white */
        
}
#med-frame{
  border-radius: 50%;
	z-index: 950;
	mix-blend-mode: difference;
	/*opacity: 0.75;*/
	position: absolute;
    height: 550px;
    width: 550px;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%) rotate(45deg);
    background: radial-gradient(#c63f35, #a17fe0, #ff022c);
    box-shadow:
        15px 25px 100px white;           /* outer white */

    
        
}

#small-frame{
  border-radius: 50%;
	z-index: 975;
	mix-blend-mode: color-dodge;
	position: absolute;
    height: 400px;
    width: 400px;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%) rotate(45deg);
    background: radial-gradient(#59C173, #a17fe0, #5D26C1);
    box-shadow:
        15px 25px 100px #59C173;           /* outer white */

}


#centerpiece{
  z-index: 910;
  position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%) rotate(45deg);
    height: 425px;
    width: 430px;
    mix-blend-mode: difference;

}


#spinning-man{
  z-index: 90000000000;
  position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 17%;
    mix-blend-mode: color-dodge;

}

#ufo{
  position: absolute;
  top: 0;
  left: 40%;
  width: 20%;
  mix-blend-mode: color-dodge;

}


#lava{
  position: absolute;
  top: 0;
  left: 0;
  transform: rotate(180deg);
  width:20%;
  mix-blend-mode: color-burn;
  z-index: 950;
}
#lava2{
  position: absolute;
  top: 0;
  left: 15%;
  transform: rotate(180deg);
  width:15%;
  mix-blend-mode: color-burn;
}
#lava-mid-1{
  position: absolute;
  top: 0;
  left: 26%;
  transform: rotate(180deg);
  width:10%;
  mix-blend-mode: color-burn;
}


#lava-mid-2{
  position: absolute;
  top: 0;
  right: 26%;
  transform: rotate(180deg);
  width:10%;
  mix-blend-mode: color-burn;
}

#lava4{
  position: absolute;
  top: 0;
  right: 15%;
  transform: rotate(180deg);
  width:15%;
  mix-blend-mode: color-burn;
  z-index: 950;
}
#lava5{
  position: absolute;
  top: 0;
  left: 80%;
  transform: rotate(180deg);
  width:20%;
  mix-blend-mode: color-burn;
  z-index: 950;
}

#meteor-right{
   -moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        filter: FlipH;
        -ms-filter: "FlipH";
  position: absolute;
  top: 7%;
  right: 30%;
  width: 13%;
  mix-blend-mode: color-dodge;

}

#meteor-left{
  position: absolute;
  top: 7%;
  left: 30%;
  width: 13%;
  mix-blend-mode: color-dodge;
}

#pop-right{
   -moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        filter: FlipH;
        -ms-filter: "FlipH";
  position: absolute;
  top: 27%;
  right: 17%;
  width: 10%;


}

#pop-left{
  position: absolute;
  top: 27%;
  left: 17%;
  width: 10%;

}

#fish-left{
  position: absolute;
  top: 20%;
  left: 0;
  width:20%;
  mix-blend-mode: color-dodge;
  z-index: 900;

}

#fish-left-top{
  position: absolute;
  top: 1%;
  left: 0;
  width:20%;
  mix-blend-mode: color-dodge;
  z-index: 900;

}

#fish-right{
     -moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        filter: FlipH;
        -ms-filter: "FlipH";
  position: absolute;
  top: 20%;
  right: 0;
  width:20%;
  mix-blend-mode: color-dodge;
  z-index: 900;
}
#fish-right-top{
     -moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        filter: FlipH;
        -ms-filter: "FlipH";
  position: absolute;
  top: 1%;
  right: 0;
  width:20%;
  mix-blend-mode: color-dodge;
  z-index: 900;
}



#jellyfish-right{
  z-index: 1000;
  position: absolute;
  top: 1%;
  right: 0;
  width: 35%;
  height: auto;
  mix-blend-mode: difference;

  
}
#jellyfish-left{
  -moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        filter: FlipH;
        -ms-filter: "FlipH";
  z-index: 1000;
  position: absolute;
  top: 1%;
  left: 0;
  width: 35%;
  height: auto;
  mix-blend-mode: difference;
  
}

#sparkles{
  position: absolute;
  top: 15%;
  right: 25%;
  z-index: 900;
  width: 15%;
  height: auto;
}

#sparkles2{
  position: absolute;
  top: 5%;
  right: 42%;
  z-index: 900;
  width: 15%;
  height: auto;
}

#sparkles3{
  position: absolute;
  top: 15%;
  left: 25%;
  z-index: 900;
  width: 15%;
  height: auto;
}

#pops-left{
  position: absolute;
  bottom: 28%;
  left: 0;
}
#pops-right{
  position: absolute;
  bottom: 28%;
  right: 0;
}

#trees1{
  position: absolute;
  top: 35%;
  right: 0;
  z-index: 850;
  width: 33.33333333%;
  height: auto;
}

#trees2{
  position: absolute;
  top: 35%;
  right: 33.3333333%;
  z-index: 850;
  width: 33.3333333%;
  height: auto;
  mix-blend-mode: difference;
}

#trees3{
  position: absolute;
  top: 35%;
  left: 0;
  z-index: 850;
  width: 33.333333%;
  height: auto;
}


#hetero {
  position: absolute;
  bottom: 28%;
  left: 2%;
  z-index: 1900;
  height: 20%;
  mix-blend-mode: color-burn;
}

#racysim {
   -moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        filter: FlipH;
        -ms-filter: "FlipH";
  position: absolute;
  bottom:26%;
  left: 6%;
  height: 20%;
  mix-blend-mode: color-burn;
  z-index: 1000;
}

#perc{
  position: absolute;
  bottom:26%;
  left: 12%;
  height: 22%;
  mix-blend-mode: color-burn;
  z-index: 1000;
}

#hetero-right {
     -moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        filter: FlipH;
        -ms-filter: "FlipH";
  position: absolute;
  bottom: 28%;
  right: 2%;
  z-index: 1900;
  height: 20%;
  mix-blend-mode: color-burn;
}

#racysim-right {
  position: absolute;
  bottom:26%;
  right: 6%;
  height: 20%;
  mix-blend-mode: color-burn;
  z-index: 1000;
}
#perc-right {
  position: absolute;
  bottom:26%;
  right: 12%;
  height: 22%;
  mix-blend-mode: color-burn;
  z-index: 1000;
}

#butterfly-right{
  position: absolute;
  bottom: 20%;
  left: 20%;
  width: 20%;
}

#butterfly-right-2{
  position: absolute;
  bottom: 20%;
  left: 15%;
  width: 20%;
  mix-blend-mode: color-burn;
}
#butterfly-left{
  -moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        filter: FlipH;
        -ms-filter: "FlipH";
  position: absolute;
  bottom: 20%;
  right: 20%;
  width: 20%;
}
#butterfly-left-2{
  -moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        filter: FlipH;
        -ms-filter: "FlipH";
  position: absolute;
  bottom: 20%;
  right: 15%;
  width: 20%;
  mix-blend-mode: color-burn;
}


#bottom-border{
  position: absolute;
  z-index: 700;
  background-color: white;
  width: 100%;
  height: 28%;
  bottom: 0;
  mix-blend-mode: difference;
  opacity: 0.5;
}

#purple-void-left{
  position: absolute;
  bottom: 0;
  left: 0.5%;
  z-index: 800;
  width: 49.5%;
  mix-blend-mode: color-dodge;
}

#purple-void-right{
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 800;
  width: 50%;
 mix-blend-mode: color-dodge;
}

#skates-front{
  animation: toright 20s infinite alternate;
  position: absolute;
  bottom: 0;
  left: -20%;
  z-index: 90000000000;
  width: 22%;
  mix-blend-mode: color-burn;

}


#cloud-1{
  position: absolute;
  bottom: 0;
  left: 0.5%;
  width: 19.5%;
  z-index: 900000000;
  mix-blend-mode: difference;
}
#cloud-2{
  position: absolute;
  bottom: 0;
  left: 20%;
  width: 20%;
  z-index: 900000000;
  mix-blend-mode: difference;
}
#cloud-3{
  position: absolute;
  bottom: 0;
  left: 40%;
  width: 20%;
  z-index: 900000000;
  mix-blend-mode: difference;
}
#cloud-4{
  position: absolute;
  bottom: 0;
  left: 60%;
  width: 20%;
  z-index: 900000000;
  mix-blend-mode: difference;
}
#cloud-5{
  position: absolute;
  bottom: 0;
  left: 80%;
  width: 20%;
  z-index: 900000000;
  mix-blend-mode: difference;
}



@keyframes toright{
  0%{
    position:absolute;
    bottom:0;
    left:-20%;
  }
  50%{
   
  }
  100%{
      -moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        filter: FlipH;
        -ms-filter: "FlipH";
  transform: translate(800%);
  }

}

@keyframes toleft{
  0%{
    position:absolute;
    bottom:10%;
    right:-20%;
  }
  50%{
   
  }
  100%{
  transform: translate(-800%);
  }

}

@keyframes floating {
    from { transform: translate(0,  0px);
    65%  { transform: translate(0, 15px); }
    to   { transform: translate(0, -0px); }    
}
