
						/*PAGE 1*/
*{
	box-sizing:border-box;
}
body {
	font-family: "VT323", monotype;
	color: white;
	background-color: black;
}






#ufo{
	display: inline;
	height: 70%;
	width:auto;
}


#background {
	width: 100vw;
	height: 100vh;
	background: radial-gradient(circle, rgba(52, 0, 148, 1), rgba(81, 0, 97, 1), rgba(0, 29, 122, 1));
	position: relative;
}



#stars_gif {
	position: absolute;
	top: 0;
	left:0;
	width: 33.3333%;
	height: auto;
}

#stars_gif-2{
	position:absolute;
	top: 0;
	left:33%;
	width: 33.3333%;
	height: auto;
}

#stars_gif-3{
	position: absolute;
	top: 0;
	left:66%;
	width: 33.3333%;
	height: auto;
	
}
#rings{
	top:5%;
	left:10%;
	width:20%;
	height:auto;
	position: absolute;
	
}
#gjonesbody{
	top:12%;
	right:10%;
	width:auto;
	height:70%;
	position:absolute;
	z-index: 10;
}

#disco{
	top:50%;
	left:50%;
	transform: translate(-50%,-50%);
	width:auto;
	height:50%;
	position:absolute;
	z-index: 5;
	opacity: 0.6;
}
#gjonesbody-2{
	-moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        filter: FlipH;
        -ms-filter: "FlipH";
	top:12%;
	left:10%;
	width:auto;
	height:70%;
	position:absolute;
	z-index: 10;
}
/*#disco {
	top: 0;
	right: 5%;
	width:175px;
	height: auto;
	position:absolute;
}*/

#rings-2{
	-moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        filter: FlipH;
        -ms-filter: "FlipH";
	top:5%;
	right:10%;
	width:20%;
	height:auto;
	position: absolute;
}
#circles{
	top:50%;
	left:50%;
	transform: translate(-50%,-50%);
	height:auto;
	width:40%;
	max-width: 700px;
	position: absolute;
	z-index: 1;
}

#andre{
	position:absolute;
	bottom:0;
	left:0;
	height:40%;
	width:auto;
	z-index: 11;
	animation: sliding-andre 2s ease-in-out infinite alternate;
}

@keyframes sliding-andre {
	0%{
		position:absolute;
		bottom:0;
		left:10%;
	}
	50%{
		position:absolute;
		bottom:0;
		left:60%;
	}
	100%{
		position:absolute;
		bottom:0;
		right:0;
	}

}

#ankhs{
	z-index:5;
	background: linear-gradient(transparent, hotpink);
	width:100%;
	height:500px;
	opacity:0.5;
	position:absolute;
	bottom:0;
}
[id^="ankh"]{
	z-index:10;
}

#moving-grid{
	position:absolute;
	bottom:0;
	left:0;
	height:40%;
	width:100%;
}

#ankh{
	width:5%;
	height:10%;
	position: absolute;
	bottom:0;
	left:0;
}

#ankh-2{
	width:5%;
	height:10%;
	position: absolute;
	bottom:0;
	left:5%;
}

#ankh-3{
	width:5%;
	height:10%;
	position: absolute;
	bottom:0;
	left:10%;
}

#ankh-4{
	width:5%;
	height:10%;
	position: absolute;
	bottom:0;
	left:15%;
}

#ankh-5{
	width:5%;
	height:10%;
	position: absolute;
	bottom:0;
	left:20%;
}

#ankh-6{
	width:5%;
	height:10%;
	position: absolute;
	bottom:0;
	left:45%;
}

#ankh-7{
	width:5%;
	height:10%;
	position: absolute;
	bottom:0;
	left:25%;
}

#ankh-8{
	width:5%;
	height:10%;
	position: absolute;
	bottom:0;
	left:30%;
}
#ankh-9{
	width:5%;
	height:10%;
	position: absolute;
	bottom:0;
	left:35%;
}
#ankh-10{
	width:5%;
	height:10%;
	position: absolute;
	bottom:0;
	left:40%;
}

#ankh-11{
	width:5%;
	height:10%;
	position: absolute;
	bottom:0;
	left:50%;
}

#ankh-12{
	width:5%;
	height:10%;
	position: absolute;
	bottom:0;
	left:55%;
}

#ankh-13{
	width:5%;
	height:10%;
	position: absolute;
	bottom:0;
	left:60%;
}
#ankh-14{
	width:5%;
	height:10%;
	position: absolute;
	bottom:0;
	left:65%;
}
#ankh-15{
	width:5%;
	height:10%;
	position: absolute;
	bottom:0;
	left:70%;
}
#ankh-16{
	width:5%;
	height:10%;
	position: absolute;
	bottom:0;
	left:75%;
}
#ankh-17{
	width:5%;
	height:10%;
	position: absolute;
	bottom:0;
	left:80%;
}
#ankh-18{
	width:5%;
	height:10%;
	position: absolute;
	bottom:0;
	left:85%;
}
#ankh-19{
	width:5%;
	height:10%;
	position: absolute;
	bottom:0;
	left:90%;
}
#ankh-20{
	width:5%;
	height:10%;
	position: absolute;
	bottom:0;
	left:95%;
}

								/*PAGE 2*/
#background-2{
	margin:0;
	width: 100%;
	height: 100vh;
	background: repeating-radial-gradient(circle, white 20px, black 80px, lime 10px);
	position:relative;


}

#warp-9 {
	top:50%;
	left:50%;
	transform: translate(-50%, -50%);
	width: 50%;
	height:auto;
	position:absolute;
	z-index:5;
}


#storm{
	top: 50%;
	left:50%;
	width: 100%;
	height: 100%;
	transform: translate(-50%, -50%);
	opacity: 0;
	position:absolute;
	object-fit:cover;
	z-index: 100;
}

#alien-1{
	top:15%;
	left:10%;
	position:absolute;
	width:25%;
	height:auto;
}

#alien-2{
	top:15%;
	right:10%;
	position:absolute;
	width:25%;
	height:auto;
}


#blob-1{
	-moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        filter: FlipH;
        -ms-filter: "FlipH";
	position:absolute;
	bottom:0;
	left:0;
	width:18%;
	height:auto;
	z-index:10;
}

#blob-2{
	position:absolute;
	bottom:0;
	left:20%;
	width:18%;
	height:auto;
	transform:rotate(96deg);
	z-index:15;
}

#blob-3{
	position:absolute;
	bottom:0;
	left:40%;
	width:18%;
	height:auto;
	transform:rotate(138deg);
	z-index:20;
}

#blob-4{
	position:absolute;
	bottom:0;
	left:60%;
	width:18%;
	height:auto;
	transform:rotate(200deg);
	z-index:25;
}
#blob-5{
	position:absolute;
	bottom:0;
	left:80%;
	width:18%;
	height:auto;
	transform:rotate(294deg);
	z-index:30;
}

#ufo-2{
	position:absolute;
	top:0;
	right:0;
	width:30%;
	height:auto;
	animation: slide 3s linear infinite alternate;
	z-index:999999999999;
}

@keyframes slide {
	0%{
		position:absolute;
		top:0;
		right:0;
		width: 5%;
		height:auto;
	}
	/*25%{
		position:absolute;
		top:0;
		right:25%;
		width:100px;
		height:auto;
	}*/

	50%{
		position:absolute;
		top:0;
		right:90%;
		width:10%;
		height:auto;
	}
	/*75%{
		position:absolute;
		top:0;
		right:75%;
		width:200px;
		height:auto;
	}*/

	100%{
		position:absolute;
		top:0;
		right:0;
		width:45%;
		height:auto;
	}
}



					/*	PAGE THREE*/

/*#aluminum{
		top: 50%;
		left:50%;
		width: 100vw;
		height: 100vw;
		transform: translate(-50%, -50%);
		opacity: 1;
		position:absolute;
		object-fit:cover;
}*/

/*#page3body{
	background: 
	url(aluminum.jpg)
	top center / 200px 200px;
	overflow: hidden;
}*/

#janelle-1{
	position:absolute;
	left:5%;
	bottom:0%;
	width:40%;
	height:auto;
	z-index: 11;
}

#janelle-2{
	-moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        filter: FlipH;
        -ms-filter: "FlipH";
	position:absolute;
	right:5%;
	bottom:0;
	width:40%;
	height:auto;
	z-index: 10;
}

#purpleknot{
	-moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        filter: FlipH;
        -ms-filter: "FlipH";
	position:absolute;
	top: 55%;
	left:0;
	width:25%;
	height:auto;
	z-index: 999999;
}

#little-div{
	position:relative;
	width: 100vw;
	height: 100vh;
	background: linear-gradient(deepskyblue, purple, hotpink);
	z-index:1000;
}

#purpleknot-2{
	position:absolute;
	top: 55%;
	right:0;
	width:25%;
	height:auto;
	transform: translate(20%, 0);
	z-index: 16;
}

#spinning-ankh{
	position:absolute;
	top:20%;
	left:43%;
	height:auto;
	width:15%;
	z-index:20;
}
#storm-2{
	position:absolute;
	z-index:900;
	bottom:0;
	left:0;
	height:12%;
	width:auto;
	animation: storm-up 3s 0s infinite alternate;
}
#storm-2-2{
	-moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        filter: FlipH;
        -ms-filter: "FlipH";
	position:absolute;
	z-index:900;
	bottom:0;
	right:0;
	height:12%;
	width:auto;
	animation: storm-up 3s 0s infinite alternate;
}

@keyframes storm-up{
	0%{
		transform:translate(0,0);
	}
	/*25%{
		transform: translate(0,-40%);
	}

	50%{
		transform: translate(0,-60%);
	}

	75%{
		transform: translate(0,-80%);
	}*/
	100%{
		transform: translate(0, -500%);
	}
}
#floating-clouds{
	position:absolute;
	top:27%;
	left:0;
	width:28%;
	height:auto;
	z-index:5;
}
#floating-clouds-2{
	position:absolute;
	top:15%;
	left:40%;
	width:18%;
	height: auto;
	transform:rotate(180deg);
	z-index: 3;
	opacity: 0.9;

}
#moving-clouds{
	position:absolute;
	top:20%;
	right:0;
	width:50%;
	height:auto;
	opacity:0.9;
	z-index: 3;
}
#moving-clouds-2{
/*	-moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        filter: FlipH;
        -ms-filter: "FlipH";*/
	position:absolute;
	top:20%;
	left:0;
	width:50%;
	height:auto;
	z-index:3;
	opacity:0.9;
}
#floating-clouds-4{
	position:absolute;
	top:15%;
	left:16%;
	width:10%;
	opacity:0.9;
	z-index:3;
	height:auto;
}
#floating-clouds-5{
	position:absolute;
	top:2%;
	right: 4%;
	width:30%;
	height:auto;
	opacity:0.9;
	z-index:3;
}
#floating-clouds-6{
	position:absolute;
	top:30%;
	right:1%;
	width:50%;
	height:auto;
	z-index:3;
	opacity:0.9;
}
#moving-wave{
	position:absolute;
	top:55%;
	right:30%;
	width:30%;
	height:auto;
	z-index: 9;


}
					/*//PAGE 4//*/
#background-4{
	width: 100%;
	height: 100%;
	position: absolute;
	background: radial-gradient(circle, rgba(204, 163, 0, 1), rgba(204, 95, 0, 1), rgba(204, 27, 0, 1));
}
#fka-svg{
	background: radial-gradient(circle, rgba(204, 163, 0, 1), rgba(204, 95, 0, 1), rgba(204, 27, 0, 1));
	display: block;
	position: absolute;
	height: 60%;
	top: 20%;
	left: 5%;
	z-index: 50;
	box-shadow: 5px 5px 500px blue;

}

#fka-svg-layer{
		-moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        filter: FlipH;
        -ms-filter: "FlipH";
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	object-fit: cover;
	top: 1%;
	left: 0;
	z-index: 55;
	mix-blend-mode: difference;
	box-shadow: 5px 5px 500px blue;

}

#alum{
	position: absolute;
	width: 100%;
	height: 100%;
	right:0;
	object-fit: cover;
	z-index: 20;
	mix-blend-mode: difference;
}

#sun{
	position: absolute;
	top: 0;
	right: 2%;
	height:20%;
	z-index: 5;
	mix-blend-mode: difference;
}

#butterflies{
	position: absolute;
	top: 0;
	right: 10%;
	width: 90%;
	z-index: 5;
	mix-blend-mode: difference;
}

#div-right{
	position:absolute;
	top:0;
	right:25%;
	background: linear-gradient(blue, transparent, blue);
	opacity:0.3;
	width:25%;
	height:100%;
	z-index: 55;
}



#blackdisco{
	position:absolute;
	top:61%;
	right:17%;
	width:20%;
	height:auto;
}



#magic-carpet{
	position:absolute;
	top:5%;
	left:0;
	width:18%;
	z-index: 3;
}

#magic-carpet-2{
	position:absolute;
	top:15%;
	left:0;
	width:18%;
	z-index: 3
}

#magic-carpet-3{
	position:absolute;
	top:25%;
	left:0;
	width:18%;
	z-index: 3;

}

#magic-carpet-4{
	position:absolute;
	top:35%;
	left:0;
	width:18%;
	z-index: 3;

}

#magic-carpet-5{
	position:absolute;
	top:45%;
	left:0;
	width:18%;
	z-index: 3;

}


#div{
	position:absolute;
	top:0;
	right: 0;
	background-color: tan;
	width:100%;
	height:100%;
	mix-blend-mode: difference;
}
/*
#filler-div{
	position: absolute;
	bottom: 0;
	left: 55%;
	height: 100%;

}*/

#jelly{
	position: absolute;
	bottom: 0;
	right: 5%;
	width: 20;
	mix-blend-mode: difference;

}
#multicolor-wave{
	top:20%;
	right:0;
	position:absolute;
	width:35%;
	height:30%;
	opacity:0.5;
}

#rain{
	position:fixed;
	top:25%;
	right:0%;
	width:40%;
	height:auto;
}
#rain-2{
	position:fixed;
	top:25%;
	right:40%;
	width:40%;
	height:auto;
}

/*#butterfly{
	width:20%;
	height:auto;
	  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
	
}

#butterfly::before {
  content: "#" attr(id);
}*/

						/*PAGE 5*/
#background-5{
	width: 100%;
	height: 100%;
	position: absolute;
	background: pink;
}



#badu{
	position:absolute;
	bottom: 5%;
	left:10%;
	height:90%;
	width:auto;
/*	mix-blend-mode: color-burn;*/
	z-index: 10;
	
}

#badu-layer{
	position:absolute;
	bottom: 5%;
	left:10%;
	height:90%;
	width:auto;
	mix-blend-mode: color-burn;
	z-index: 10;
	
}


#moon{
	position:absolute;
	top:2%;
	right:10%;
	width:30%;
	height:auto;
	opacity:1;
	z-index: 10;
	mix-blend-mode: difference;
}

#mettalic-sphere{
	position:absolute;
	top:4%;
	right:12%;
	width:25%;
	height:auto;
	opacity:0.8;
	z-index: 15;
}

#cool-sphere{
	position:absolute;
	top:2%;
	right:10%;
	width:30%;
	height:auto;
	opacity:0.4;
	z-index: 13;
	mix-blend-mode: difference;
}

#check-sphere{
	position:absolute;
	top:0%;
	right:8%;
	width:35%;
	height:auto;
	z-index: 7;
	mix-blend-mode: color-burn;
}


#filler-div-2{
	position:absolute;
	top:0;
	left:5%;
	background: lime;
	opacity:0.3;
	width:73%;
	height:91%;
	z-index:8;
}
#legs{
	position:absolute;
	bottom:10%;
	left:0%;
	height:50%;
	width:auto;
	z-index: 10;
	mix-blend-mode: difference;
}

#thought{
	-moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        filter: FlipH;
        -ms-filter: "FlipH";
	position:absolute;
	top:0;
	left: 0;
	width:10%;
	z-index: 15;
	mix-blend-mode: color-dodge;
}

#thought-2{
	-moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        filter: FlipH;
        -ms-filter: "FlipH";
	position:absolute;
	top:0;
	left: 15%;
	width:10%;
	z-index: 15;
	mix-blend-mode: color-dodge;
}

#thought-3{
	position:absolute;
	top:0;
	left: 50%;
	width:10%;
	z-index: 15;
	mix-blend-mode: color-dodge;
}

#filler-div{
	background-color:turquoise;
	opacity:0.9;
	width:100%;
	height:20%;
	border:none;
	position:absolute;
	bottom:0;
	left:0;
	z-index:9;
	mix-blend-mode: difference;

}

#filler-div-top{
	background-color:turquoise;
	width:100%;
	height:20%;
	border:none;
	position:absolute;
	top:0;
	left:0;
	z-index:9;
	mix-blend-mode: difference;

}

#fizz-left{
	position: absolute;
	top: 30%;
	left: 1%;
	transform: rotate(90deg);
	width: 40%;
	mix-blend-mode: difference;
	z-index: 5;
}
#fizz-right{
	position: absolute;
	top: 30%;
	left: 40%;
	transform: rotate(90deg);
	width: 40%;
	mix-blend-mode: difference;
	z-index: 5;
}


#check-bottom{
	width:100%;
	height:20%;
	position:absolute;
	object-fit: cover;
	bottom:0;
	left:0;
	z-index:10;
	mix-blend-mode: difference;
}

#check-bottom-layer{
	width:100%;
	height:13%;
	position:absolute;
	object-fit: cover;
	bottom:0;
	left:0;
	z-index:11;
	mix-blend-mode: color-burn;
}


#check-top{
		width:100%;
	height:5%;
	object-fit:cover;
	opacity:1;
	position:fixed;
	top:20%;
	left:0;
	z-index:6;
	mix-blend-mode: difference;
	z-index: 12;
}

#corner-aloe-right{
	position: absolute;
	bottom: 13%;
	right: 0;
	mix-blend-mode: multiply;
	height: 80%;
}


#corner-aloe-left{
		-moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        filter: FlipH;
        -ms-filter: "FlipH";
	position: absolute;
	bottom: 13%;
	left: 0;
	mix-blend-mode: multiply;
	height: 50%;
}

#lil-kim{
	position: absolute;
	left:0.5%;
	top:10%;
	height:15%;
	width:auto;
	z-index: 10;
}
#lil-kim-2{
	position: absolute;
	left:0.5%;
	top:30%;
	height:15%;
	width:auto;
}

#lil-kim-3{
	position: absolute;
	left:0.5%;
	top:50%;
	height:15%;
	width:auto;
}

#lil-kim-4{
	position: absolute;
	left:0.5%;
	top:70%;
	height:15%;
	width:auto;
}


