#page1body{
	width: 100vw;
	height: 100vh;
	background: radial-gradient(circle, rgba(255,30,14,1),rgba(204, 163, 0, 1), rgba(25, 76, 0, 1), rgba(25, 76, 0, 1));


}

@font-face {
	font-family: GoodTimes;
	src: url('good times rg.ttf');
}

@font-face {
	font-family: BaronessK;
	src: url('Baroness Kuffner.ttf');
}


/*  #header{
  	font-family: "Monoton";
  	color: red;
  	position: absolute;
  	top: 10%;
    width: 100%;
    background: black;
    height: 40px;
    text-align: right;
}
*/
  #footer{
  	font-family: "BaronessK";
  	color: red;
  	    background-color: black;
    font-size: 500%;
    white-space: nowrap;
    animation: slide-out 30s linear infinite;
    animation-delay: 10s;
    margin: auto;
    position:absolute;
	bottom:15%;
	left:-100%;
	width:100%;
	height:auto;
	text-align: center;
	z-index: 1001;
}

#header {
	font-family: GoodTimes;
    color: orange;
    background-color: black;
        font-size: 300%;
    white-space: nowrap;
    animation: slide-in 30s linear infinite;
    margin: auto;
    position:absolute;
	top:8%;
	/*right:-40%;*/
	width:100%;
	height: auto;
	text-align: center;
	z-index: 100;
}

@keyframes slide-in {
	0%{
	position:absolute;
	top:8%;
	right:-100%;
	}
/*	25%{
		position: absolute;
		top:5%;
		right:0;
	}
	50%{
		position: absolute;
		top:5%;
		left:-90%;
	}
	75%{
		position: absolute;
		top:5%;
		left:-150%;
	}
*/	100%{
	transform:translate(-800%);
	}
}


@keyframes slide-out {
	0%{
	position:absolute;
	bottom:15%;
	left:-100%;
	}
/*	25%{
		position: absolute;
		top:5%;
		right:0;
	}
	50%{
		position: absolute;
		top:5%;
		left:-90%;
	}
	75%{
		position: absolute;
		top:5%;
		left:-150%;
	}
*/	100%{
	transform:translate(800%);
	}
}





#floating-clouds{
	position:absolute;
	top:2%;
	left:0;
	width:20%;
	height:auto;
	z-index:5;

}
#floating-clouds-2{
	position:absolute;
	top:5%;
	left:40%;
	width:15%;
	height: auto;
	transform:rotate(180deg);
	z-index: 3;
	opacity: 0.9;

}
/*#moving-clouds{
	position:absolute;
	top:0;
	right:0;
	width:50%;
	height:auto;
	opacity:0.9;
	z-index: 3;
}*/
/*#moving-clouds-2{
	-moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        filter: FlipH;
        -ms-filter: "FlipH";
	position:absolute;
	top:0;
	left:0;
	width:50%;
	height:auto;
	z-index:3;
	opacity:0.9;
}*/
#floating-clouds-4{
	position:absolute;
	top:5%;
	left:16%;
	width:10%;
	z-index:3;
	height:auto;
}
#floating-clouds-5{
	position:absolute;
	top:2%;
	right: 4%;
	width:20%;
	height:auto;
	z-index:3;
}
#floating-clouds-6{
	position:absolute;
	top:7%;
	right:15%;
	width:25%;
	height:auto;
	z-index:5;
	opacity:0.9;
	transform: rotate(3deg);
}

#floating-clouds-7{
	position:absolute;
	top:9%;
	left:20%;
	width:20%;
	height:auto;
	z-index:7;
	opacity:0.9;
	transform: rotate(-4deg);

}

#floating-clouds-8{
	position:absolute;
	top:0;
	left:30%;
	width:17%;
	height:auto;
	z-index:3;
		
}

#floating-clouds-9{
	position:absolute;
	top:0;
	right:30%;
	width:10%;
	height:auto;
	z-index:3;
	transform: rotate(-6deg);
	
}

#floating-clouds-10{
	position:absolute;
	top:6%;
	right:40%;
	width:10%;
	height:auto;
	z-index:3;

	
}

#reddisco{
	margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
	width: 23%;
}

#grace{

	top: 35%;
	left: 0;
	position: absolute;
	height: 40%;
	width: auto;
	z-index: 105;
}

#grace2{
	-moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        filter: FlipH;
        -ms-filter: "FlipH";
	top: 35%;
	right: 0;
	position: absolute;
	height: 40%;
	width: auto;
	z-index: 105;

}



#rainbow-sim{
	top: 27%;
	right: 10%;
	position: absolute;
	height: 15%;
	width: auto;
	z-index: 105;
}

#rainbow-sim2{
	top: 27%;
	left: 10%;
	position: absolute;
	height: 15%;
	width: auto;
	z-index: 105;
}

#mood{
	position: absolute;
	left:40%;
	bottom: 50%;
	width: 20%;
	z-index: 116;
}



/*#palm1{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 25%
}*/

#palm2{
	-moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        filter: FlipH;
        -ms-filter: "FlipH";
	position: absolute;
	bottom: 0;
	left: 25%;
	width: 20%;
	z-index: 115;
}

#palm3{
	position: absolute;
	bottom: 0;
	left: 18%;
	width: 15%;
	z-index: 115;
}

#palm4{
	position: absolute;
	bottom: 0;
	left: 20%;
	width: 30%;
	z-index: 115;
}

#palm5{
	-moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        filter: FlipH;
        -ms-filter: "FlipH";
	position: absolute;
	bottom: 0;
	right: 20%;
	width: 30%;
	z-index: 115;
}


/*#palm6{
		-moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        filter: FlipH;
        -ms-filter: "FlipH";
	position: absolute;
	bottom: 0;
	right: 0;
	width: 25%
}*/

#palm7{
	
	position: absolute;
	bottom: 0;
	right: 25%;
	width: 20%;
	z-index: 115;
}

#palm8{
	-moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        filter: FlipH;
        -ms-filter: "FlipH";
	position: absolute;
	bottom: 0;
	right: 18%;
	width: 15%;
	z-index: 115;

}

/*#palm9{
	position: absolute;
	bottom: 0;
	right: 20%;
	width: 30%;
	z-index: 101;
}*/


#drip{
	position: absolute;
	bottom: 0;
	right: 0;
	left: 39%;
	width: 23%;

}

#fallingweed{
	position: absolute;
	left: 0;
	top: 0;
	width: 25%;
	height: 50%;
	z-index: 2;
}

#fallingweed2{
	position: absolute;
	left: 0;
	bottom: 0;
	width: 25%;
	height: 50%;
	z-index: 2;
}

#fallingweed3{
	position: absolute;
	right: 0;
	top: 0;
	width: 25%;
	height: 50%;
	z-index: 2;

}

#fallingweed4{
	position: absolute;
	right: 0;
	bottom: 0;
	width: 25%;
	height: 50%;
	z-index: 2;

}

#red1{
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 28%;
	background: linear-gradient(to right, rgba(136,30,14,1), rgba(136,30,14,1), rgba(136,30,14,1), rgba(136,30,14,1),  rgba(136,30,14,0));
	z-index: 1;
	opacity: 0.5;
}



#red2{
	position: absolute;
	top: 0;
	right: 0;
	height: 100%;
	width: 28%;
	background: linear-gradient(to left, rgba(136,30,14,1), rgba(136,30,14,1), rgba(136,30,14,1), rgba(136,30,14,1),  rgba(136,30,14,0));
	z-index: 1;
	opacity: 0.5;
}

#line1{
	position: absolute;
	left: 24%;
	height: 100%;
	top: 0;
	width: 1%;
	background: linear-gradient(to bottom, rgba(241, 214, 29, 1), rgba(136,30,14,1), rgba(2, 2, 2, 1));
	z-index: 3;
}

#line2{
	position: absolute;
	right: 24%;
	height: 100%;
	top: 0;
	width: 1%;
	background: linear-gradient(to bottom, rgba(241, 214, 29, 1), rgba(136,30,14,1), rgba(2, 2, 2, 1));
	z-index: 3;
}


#pineapple-1 {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 10%;
	z-index: 1000;
}

#pineapple-2 {
	-moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        filter: FlipH;
        -ms-filter: "FlipH";
		bottom: 0;
	width:10%;
	position: absolute;
	bottom:0;
	left:10%;
	z-index: 1000;
}

#pineapple-3{
	width:10%;
	position: absolute;
	bottom:0;
	left:20%;
	z-index: 1000;
}

#pineapple-4{
	-moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        filter: FlipH;
        -ms-filter: "FlipH";
		bottom: 0;
	width:10%;
	position: absolute;
	bottom:0;
	left:30%;
	z-index: 1000;

}

#pineapple-5{
	width:10%;
	position: absolute;
	bottom:0;
	left:40%;
	z-index: 1000;

}

#pineapple-6{
	-moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        filter: FlipH;
        -ms-filter: "FlipH";
		bottom: 0;
	width:10%;
	position: absolute;
	bottom:0;
	left:50%;
	z-index: 1000;

}

#pineapple-7{
	width:10%;
	position: absolute;
	bottom:0;
	left:60%;
	z-index: 1000;

}

#pineapple-8{
	-moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        filter: FlipH;
        -ms-filter: "FlipH";
		bottom: 0;
	width:10%;
	position: absolute;
	bottom:0;
	left:70%;
	z-index: 1000;

}

#pineapple-9{
	width:10%;
	position: absolute;
	bottom:0;
	left:80%;
	z-index: 1000;

}
#pineapple-10{
	-moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        filter: FlipH;
        -ms-filter: "FlipH";
		bottom: 0;
	width:10%;
	position: absolute;
	bottom:0;
	left:90%;
	z-index: 1000;

}







/*
-------------------------------   PAGE 2 -------------------------------
-------------------------------------------------------------------------
-------------------------------------------------------------------------
*/



#page2body{
	width: 100vw;
	height: 100vh;
	background: linear-gradient(rgba(217,175,217,1), rgba(151, 217, 225, 1))

}

/*#page2header{
	font-family: "Monoton";
    color: white;
    font-size: 400%;
    white-space: nowrap;
    animation: slide-in 20s linear infinite;
    margin: auto;
    position:absolute;
	top:8%;
	right:-40%;
	width:60%;
	height: auto;
	text-align: center;
	z-index: 100;
}
*/
#disco{
		margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
	width: 30%;
	z-index: 1000;
}

#soundwaves{
		margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  width: 60%;
}


/*#border{
	width: 45%;
	position: absolute;
	margin: auto;
	top: 0; left: 0; bottom: 0; right: 0;

}*/


#textcontainer{
	position: absolute;
	margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
	width: 100%;
	height: 15%;
	background: linear-gradient(rgba(217,175,217,0), rgba(42, 245, 22, 1), rgba(217,175,217,0));
	text-align: center;
	z-index: 900;
}

#movingText{
	font-family: GoodTimes, monotype;
    color: white;
    font-size: 200%;
    white-space: nowrap;
    animation: slide-two 60s linear infinite;
    position: absolute;
    top: 20%;
	width:100%;
	height: auto;
	text-align: center;
	z-index: 100;

}

@keyframes slide-two {
	0%{
	position:absolute;
	top:20%;
	right:-100%;
	}
/*	25%{
		position: absolute;
		top:5%;
		right:0;
	}
	50%{
		position: absolute;
		top:5%;
		left:-90%;
	}
	75%{
		position: absolute;
		top:5%;
		left:-150%;
	}
*/	100%{
	transform:translate(-800%);
	}
}

#rockcandy{
	position: absolute;
	left: 20%;
	bottom: 0;
	height: auto;
	width: 22%;
	transform: rotate(-15deg);
	z-index: 3000;
}

 


#queer{

	position: absolute;
	bottom: 10%;
	left: 40%;
	width: 20%;
}

#singleLadies{
	position: absolute;
	bottom: 5%;
	left: 40%;
	width: 20%;
}
#rockcandy3{
	position: absolute;
	right: 20%;
	bottom: 0;
	height: auto;
	width: 22%;
	z-index: 3000;
	transform: rotate(15deg);
}
#storm{
	-moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        filter: FlipH;
        -ms-filter: "FlipH";
	position:absolute;
	top:0;
	right:0;
	width:30%;
	height:auto;
	animation: slide 6s linear infinite alternate;
	z-index: 5500;
}

@keyframes slide {
	0%{
		position:absolute;
		top:0;
		right:0;
		width: 5%;
		height:auto;
	}
	/*25%{
		position:absolute;
		top:0;
		right:25%;
		width:100px;
		height:auto;
	}*/

	50%{
		position:absolute;
		top:5%;
		right:90%;
		width:10%;
		height:auto;
	}
	/*75%{
		position:absolute;
		top:0;
		right:75%;
		width:200px;
		height:auto;
	}*/

	100%{
		position:absolute;
		top:15%;
		right:0;
		width:20%;
		height:auto;
	}
}

#lightning{
	position: absolute;
	top: 0;
	left: 0;
	width: 30%;
	height: auto;

}

#lightning2{
		-moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        filter: FlipH;
        -ms-filter: "FlipH";
	position: absolute;
	top: 0;
	right: 0;
	width: 30%;
	height: auto;

}

#walk{
	position: absolute;
	top: 20%;
	right: 10%;
	z-index: 5000;
}

#smoke{
	position: absolute;
	top: 20%;
	right: 0;
	z-index: 5000;
	height: 45%;
	width: auto;
}
#walk2{
	-moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        filter: FlipH;
        -ms-filter: "FlipH";
	position: absolute;
	top: 20%;
	left: 10%;
	z-index: 5000;
}

#smoke2{
	position: absolute;
	top: 20%;
	left: 0;
	z-index: 5000;
	height: 45%;
	width: auto;
}

#logo {
	width: 20%;
	position: absolute;
	margin: auto;
	top: 0; left: 0; bottom: 0; right: 0;
	z-index: 2000;


}

  @-webkit-keyframes spinner {
    from { -webkit-transform: rotateY(0deg);    }
    to   { -webkit-transform: rotateY(-360deg); }
  }

   #page2body {
    margin: 1em auto;
    -webkit-perspective: 1200px;
    -moz-perspective: 1200px;
    -ms-perspective: 1200px;
    perspective: 1200px;
  }

   #logo {
    -webkit-animation-name: spinner;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-duration: 6s;

    animation-name: spinner;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-duration: 6s;

    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
  }

  #logo:hover {
    -webkit-animation-play-state: paused;
    animation-play-state: paused;
  }

#mood{
	position: absolute;
	bottom: 0;
	height: 30%;
	z-index: 0;
}


#glitterLeaf{
	position: absolute;
	bottom: 15%;
	left: 2%;
	transform: rotate(-15deg);
}

#glitterLeaf2{
	position: absolute;
	bottom: 15%;
	right: 2%;
	transform: rotate(15deg);

}

#watermelon-1 {
	width:5%;
	height:10%;
	position: absolute;
	bottom:0;
	left:0;
	z-index: 5000;
}

#watermelon-2{
	width:5%;
	height:10%;
	position: absolute;
	bottom:0;
	left:5%;
	z-index: 5000;
}

#watermelon-3{
	width:5%;
	height:10%;
	position: absolute;
	bottom:0;
	left:10%;	
	z-index: 5000;

}

#watermelon-4{
	width:5%;
	height:10%;
	position: absolute;
	bottom:0;
	left:15%;
	z-index: 5000;

}

#watermelon-5{
	width:5%;
	height:10%;
	position: absolute;
	bottom:0;
	left:20%;
	z-index: 5000;
}

#watermelon-6{
	width:5%;
	height:10%;
	position: absolute;
	bottom:0;
	left:45%;
	z-index: 5000;
}

#watermelon-7{
	width:5%;
	height:10%;
	position: absolute;
	bottom:0;
	left:25%;
	z-index: 5000;
}

#watermelon-8{
	width:5%;
	height:10%;
	position: absolute;
	bottom:0;
	left:30%;
	z-index: 5000;
}
#watermelon-9{
	width:5%;
	height:10%;
	position: absolute;
	bottom:0;
	left:35%;
	z-index: 5000;
}
#watermelon-10{
	width:5%;
	height:10%;
	position: absolute;
	bottom:0;
	left:40%;
	z-index: 5000;
}

#watermelon-11{
	width:5%;
	height:10%;
	position: absolute;
	bottom:0;
	left:50%;
	z-index: 5000;
}

#watermelon-12{
	width:5%;
	height:10%;
	position: absolute;
	bottom:0;
	left:55%;
	z-index: 5000;
}

#watermelon-13{
	width:5%;
	height:10%;
	position: absolute;
	bottom:0;
	left:60%;
	z-index: 5000;
}
#watermelon-14{
	width:5%;
	height:10%;
	position: absolute;
	bottom:0;
	left:65%;
	z-index: 5000;
}
#watermelon-15{
	width:5%;
	height:10%;
	position: absolute;
	bottom:0;
	left:70%;
	z-index: 5000;
}
#watermelon-16{
	width:5%;
	height:10%;
	position: absolute;
	bottom:0;
	left:75%;
	z-index: 5000;
}
#watermelon-17{
	width:5%;
	height:10%;
	position: absolute;
	bottom:0;
	left:80%;
	z-index: 5000;
}
#watermelon-18{
	width:5%;
	height:10%;
	position: absolute;
	bottom:0;
	left:85%;
	z-index: 5000;
}
#watermelon-19{
	width:5%;
	height:10%;
	position: absolute;
	bottom:0;
	left:90%;
	z-index: 5000;
}
#watermelon-20{
	width:5%;
	height:10%;
	position: absolute;
	bottom:0;
	left:95%;
	z-index: 5000;
}


#watermelon-21 {
	width:5%;
	height:10%;
	position: absolute;
	top: 0;
	left:0;
	transform: rotate(180deg);
}

#watermelon-22{
	width:5%;
	height:10%;
	position: absolute;
	top: 0;
	left:5%;
	transform: rotate(180deg);
}

#watermelon-23{
	width:5%;
	height:10%;
	position: absolute;
	top: 0;
	left:10%;
	transform: rotate(180deg);
}

#watermelon-24{
	width:5%;
	height:10%;
	position: absolute;
	top: 0;
	left:15%;
	transform: rotate(180deg);
}

#watermelon-25{
	width:5%;
	height:10%;
	position: absolute;
	top: 0;
	left:20%;
	transform: rotate(180deg);
}

#watermelon-26{
	width:5%;
	height:10%;
	position: absolute;
	top: 0;
	left:45%;
	transform: rotate(180deg);
}

#watermelon-27{
	width:5%;
	height:10%;
	position: absolute;
	top: 0;
	left:25%;
	transform: rotate(180deg);
}

#watermelon-28{
	width:5%;
	height:10%;
	position: absolute;
	top: 0;
	left:30%;
	transform: rotate(180deg);
}
#watermelon-29{
	width:5%;
	height:10%;
	position: absolute;
	top: 0;
	left:35%;
	transform: rotate(180deg);
}
#watermelon-30{
	width:5%;
	height:10%;
	position: absolute;
	top: 0;
	left:40%;
	transform: rotate(180deg);
}

#watermelon-31{
	width:5%;
	height:10%;
	position: absolute;
	top: 0;
	left:50%;
	transform: rotate(180deg);
}

#watermelon-32{
	width:5%;
	height:10%;
	position: absolute;
	top: 0;
	left:55%;
	transform: rotate(180deg);
}

#watermelon-33{
	width:5%;
	height:10%;
	position: absolute;
	top: 0;
	left:60%;
	transform: rotate(180deg);
}
#watermelon-34{
	width:5%;
	height:10%;
	position: absolute;
	top: 0;
	left:65%;
	transform: rotate(180deg);
}
#watermelon-35{
	width:5%;
	height:10%;
	position: absolute;
	top: 0;
	left:70%;
	transform: rotate(180deg);
}
#watermelon-36{
	width:5%;
	height:10%;
	position: absolute;
	top: 0;
	left:75%;
	transform: rotate(180deg);
}
#watermelon-37{
	width:5%;
	height:10%;
	position: absolute;
	top: 0;
	left:80%;
	transform: rotate(180deg);
}
#watermelon-38{
	width:5%;
	height:10%;
	position: absolute;
	top: 0;
	left:85%;
	transform: rotate(180deg);
}
#watermelon-39{
	width:5%;
	height:10%;
	position: absolute;
	top: 0;
	left:90%;
	transform: rotate(180deg);
}
#watermelon-40{
	width:5%;
	height:10%;
	position: absolute;
	top: 0;
	left:95%;
	transform: rotate(180deg);
}





.test{
	display: grid;
	grid-template-rows: repeat(auto-fit, minimax(10px, 1fr));
}


