

#metallic{
		z-index: 9999999999999;
	margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
	width: 15%;
	height: auto;
}

#spiked-disco{
		z-index: 999999999999999;
	margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
	width: 25%;
	height: auto;
}


#ufo{
	position: absolute;
	bottom: 0;
	left: -20%;
	width: 10%;
	animation: ufo 25s infinite;
	z-index: 6000000000000000000;
}


#rocket{
	position: absolute;
	top: 0;
	left: -20%;
	width: 20%;
	animation: rocket 15s infinite;
	z-index: 600000000000000000000000;
}

@keyframes ufo {
	0%{
	position:absolute;
	top: 10%;
	left: -20%;
	}

	50%{
	position:absolute;
	top: 30%;
	left: 75%;
	width: 20%;
	}
	100%{
	position:absolute;
	top: 90%;
	left: -20%;
	width: 10%;
	}
}

@keyframes rocket {
	0%{
	position:absolute;
	top: 0;
	left: -30%;
	}
/*	25%{
		position: absolute;
		top:5%;
		right:0;
	}
	50%{
		position: absolute;
		top:5%;
		left:-90%;
	}
	75%{
		position: absolute;
		top:5%;
		left:-150%;
	}
*/	100%{
	top: 70%;
	transform:translate(650%);
	}
}

#cornergrid{
	position: absolute;
	top: 0;
	right: 0;
	z-index: 7000;
}


#cornergrid-4{
	-moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        filter: FlipH;
        -ms-filter: "FlipH";
	position: absolute;
	top: 0;
	left: 0;
	z-index: 7000;
}

#cd{
	z-index: 99999999;
	margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
	width:25%;
	height: auto;
}

#rainbow{
	position: absolute;
	top: 15%;
	left: 32%;
	z-index: 50001;
}
#rainbow-2{
	position: absolute;
	bottom: 15%;
	left: 32%;
	z-index: 50001;
	transform: rotate(180deg);
}

#speakers{
	z-index: 50003;
	margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
	width: 50%;
	height: auto;
}


#top-border {
	z-index: 5000;
  position: absolute;
  top: 0; left: 0;
	width: 100%;
	height: 20%;
	display: inline;
	background: linear-gradient(rgba( 0,0,0,1), rgba(0,0,0,0), rgba(0,0,0,0));
	text-align: center;
}

#sunflower-1 {
	position: absolute;
	height: auto;
	width: 10%;
	bottom:1%;
	left: 10%;
}
#sunflower-2 {
	position: absolute;
	height: auto;
	width: 10%;
	bottom:1%;
	left: 20%;
}
#sunflower-3 {
	position: absolute;
	height: auto;
	width: 10%;
	bottom:1%;
	left: 30%;
}
#sunflower-4 {
	position: absolute;
	height: auto;
	width: 10%;
	bottom:1%;
	left: 40%;
}
#sunflower-5 {
	position: absolute;
	height: auto;
	width: 10%;
	bottom:1%;
	left: 50%;
}
#sunflower-6 {
	position: absolute;
	height: auto;
	width: 10%;
	bottom:1%;
	left: 60%;
}
#sunflower-7 {
	position: absolute;
	height: auto;
	width: 10%;
	bottom:1%;
	left: 70%;
}
#sunflower-8 {
	position: absolute;
	height: auto;
	width: 10%;
	bottom:1%;
	left: 80%;
}
#sunflower-9 {
	position: absolute;
	height: auto;
	width: 10%;
	bottom:1%;
	left: 90%;
}
#sunflower-10{
	position: absolute;
	height: auto;
	width: 10%;
	bottom:1%;
	left: 0;
}





#bottom-border {
  position: absolute;
  bottom: 0; left: 0;
	width: 100%;
	height: 20%;
	display: inline;
	background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0), rgba( 0,0,0,1));
	text-align: center;
}


#textcontainer2{
	position: absolute;
	margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
	width: 100%;
	height: 20%;
	background: linear-gradient(rgba(217,175,217,0), rgba(241, 20, 23, 1), rgba(217,175,217,0));
	text-align: center;
	z-index: 99999;
}


#textcontainer{
	position: absolute;
	margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
	width: 100%;
	height: 20%;
	background: linear-gradient(rgba(217,175,217,0), rgba(25, 22, 245, 1), rgba(217,175,217,0));
	text-align: center;
	z-index: 99999;
}
/*
#movingText{
	font-family: 'VT323', monotype;
    color:rgb(244, 66, 78);
    background:linear-gradient(rgba(217,175,217,0), rgba(61, 239, 38, 1), rgba(61, 239, 38, 1), rgba(61, 239, 38, 1), rgba(217,175,217,0));
    font-size: 300%;
    white-space: nowrap;
    position: absolute;
    top:0; left: 0; right: 0; bottom: 0;
    margin: auto;
	width:75%;
	height: 5%;
	text-align: center;
	z-index: 9999999999999999999999;

}*/
#thunder{
	position: absolute;
	top: 8%;
	left: 30%;
	height: 100%;
	transform: rotate(45deg);
}

@keyframes slide-two {
	0%{
	position:absolute;
	top:45%;
	right:-100%;
	}
/*	25%{
		position: absolute;
		top:5%;
		right:0;
	}
	50%{
		position: absolute;
		top:5%;
		left:-90%;
	}
	75%{
		position: absolute;
		top:5%;
		left:-150%;
	}
*/	100%{
	transform:translate(-800%);
	}
}




#explosion-left{
	position: absolute;
	top: 25%;
	left: 10%;
	height: 50%;
	width: auto;
	z-index: 99999;
}
#explosion-right{
	-moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        filter: FlipH;
        -ms-filter: "FlipH";
	position: absolute;
	top: 25%;
	right: 10%;
	height: 50%;
	width: auto;
	z-index: 99999;
}




/*-------------------------------------------------------------------------------
-------------------------------------------------------------------------------
-------------------------------------------------------------------------------
-------------------------------------------------------------------------------
-------------------------------------------------------------------------------
-------------------------------------------------------------------------------





								PAGE 2




-------------------------------------------------------------------------------
-------------------------------------------------------------------------------
-------------------------------------------------------------------------------
-------------------------------------------------------------------------------
-------------------------------------------------------------------------------
-------------------------------------------------------------------------------*/










#moon{
	z-index: 5999;
	margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
	width: 25%;
	height: auto;
	animation:moon-scale 30s infinite alternate;

}
@keyframes moon-scale {
	0%{
	width: 40%;
	height: auto;
	opacity: 1;	
	}
	25%{
	width: 40%;
	height: auto;
	opacity: 0.75;
	}
	50%{
	width: 50%;
	height: auto;
	opacity: 0.75;
	}
	75%{
	width: 65%;
	height: auto;
	opacity: 0.25;
	}
	100%{
	width: 80%;
	height: auto;
	opacity: 0.1;
	}
}



#speaker{
	z-index: 5000;
	margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
	width: 35%;
	height: auto;
}



/*#hands-up-left{
	position: absolute;
	bottom: 0;
	left: 15%;
	z-index: 5000;
	height: auto;
	width: 20%;
}*/


/*#hands-up-right{
	position: absolute;
	bottom: 0;
	right: 15%;
	z-index: 5000;
	height: auto;
	width: 20%;
}*/

#hands-up-middle{
	position: absolute;
	bottom: 0;
	right: 40%;
	z-index: 5000;
	height: auto;
	width: 20%;
}

#random-nature{
	position: absolute;
	bottom: 0;
	right: 40%;
	z-index: 5000;
	height: auto;
	width: 20%;
}


#butterfly{
	position: absolute;
	width: 20%;
	height: auto;
	top: 5%;
	left: 15%;
	z-index: 5000000;
}

#butterfly-2{
	-moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        filter: FlipH;
        -ms-filter: "FlipH";
	position: absolute;
	top: 5%;
	width: 20%;
	height: auto;
	right: 15%;
	z-index: 5000000;
}

#scroll-right{
	position: absolute;
	top: 0;
	right: 0;
	z-index: 5000;
	height: 50%;
	width: auto;
}

#scroll-right-2{
	position: absolute;
	bottom: 0;
	right: 0;
	z-index: 5000;
	height: 50%;
	width: auto;

}

#scroll-left{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 5000;
	height: 50%;
	width: auto;

}
#scroll-left-2{
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: 5000;
	height: 50%;
	width: auto;

}



#check-right-1{
	position: absolute;
	top: 0;
	right: 5%;
	z-index: 2000;
	height: 33%;
	width: 10%;
}
#check-right-2{
	position: absolute;
	top:33%;
	right: 5%;
	z-index: 2000;
	height: 33%;
	width: 10%;
}
#check-right-3{
	position: absolute;
	top: 66%;
	right: 5%;
	z-index: 2000;
	height: 33%;
	width: 10%;
}

#check-left-1{
	position: absolute;
	top: 0;
	left: 5%;
	z-index: 2000;
	height: 33.333%;
	width: 10%;
}
#check-left-2{
	position: absolute;
	top:33%;
	left: 5%;
	z-index: 2000;
	height: 33.333%;
	width: 10%;
}
#check-left-3{
	position: absolute;
	top: 66%;
	left: 5%;
	z-index: 2000;
	height: 33.333%;
	width: 10%;
}

#left-div{
	position: absolute;
	bottom:0;
	right: 10%;
	z-index: 1000;
	height: 100%;
	width: 80%;
	background: linear-gradient(#59C173, #a17fe0, #5D26C1);
	opacity: 0.8;
}

#jb{
	position: absolute;
	bottom: 20%;
	right: 20%;
	z-index: 3005;
	height: 60%;
	width: auto;
}

#jb-2{
	-moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        filter: FlipH;
        -ms-filter: "FlipH";
	position: absolute;
	bottom: 20%;
	left: 20%;
	z-index: 3005;
	height: 60%;
	width: auto;
}

#piano-left{
	position: absolute;
	width: 15%;
	height: auto;
	bottom: 45%;
	left: 10%;
	transform: rotate(270deg);
	z-index: 2000;
}

#piano-right{
		-moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        filter: FlipH;
        -ms-filter: "FlipH";
	position: absolute;
	width: 15%;
	height: auto;
	bottom: 45%;
	right: 10%;
	transform: rotate(90deg);
	z-index: 2000;
}

#ycloud1{
	position: absolute;
	top: 0;
	right: 20%;
	z-index: 2000;
	height: 30%;
	width: auto;
}

#thunder-left{
	position: absolute;
	left: 33%;
	top: 5%;
	z-index: 5000;
	height: 15%;
	width: auto;

}

#thunder-right{
	position: absolute;
	right: 33%;
	top: 5%;
	z-index: 5000;
	height: 15%;
	width: auto;
	-moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        filter: FlipH;
        -ms-filter: "FlipH";

}

#hashtag{
	position: absolute;
	top: 10%;
	right: 40%;
	z-index: 5000;
	height: auto;
	width: 20%;

}

/*  @-webkit-keyframes spinner {
    from { -webkit-transform: rotateY(0deg);    }
    to   { -webkit-transform: rotateY(-360deg); }
  }
  -webkit-animation-name: spinner;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-duration: 6s;

    animation-name: spinner;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-duration: 6s;

    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
*/






/*Page 3*/


#glitter{
	position: absolute;
	top: 0;
	right: 20%;
	width:20%;
	height:auto;
	z-index: 3000;
}

#glitter2{
	position: absolute;
	top: 0;
	right: 0%;
	width:20%;
	height:auto;
}

#glitter3{
	-moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        filter: FlipH;
        -ms-filter: "FlipH";
	position: absolute;
	top: 0;
	left: 20%;
	width:20%;
	height:auto;
	z-index: 3000;
}

#glitter4{
	-moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        filter: FlipH;
        -ms-filter: "FlipH";
	position: absolute;
	top: 0;
	left: 0%;
	width:20%;
	height:auto;
}


/*Row 2---*/


#glitter5{
		-moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        filter: FlipH;
        -ms-filter: "FlipH";
	position: absolute;
	top: 35%;
	right: 20%;
	width:20%;
	height:auto;
}

#glitter6{
	-moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        filter: FlipH;
        -ms-filter: "FlipH";
	position: absolute;
	top: 35%;
	right: 0%;
	width:20%;
	height:auto;
}

#glitter7{

	position: absolute;
	top: 35%;
	left: 20%;
	width:20%;
	height:auto;
}

#glitter8{
	
	position: absolute;
	top: 35%;
	left: 0%;
	width:20%;
	height:auto;
}


/*Rox 3---*/


#glitter9{
	position: absolute;
	bottom: 0;
	right: 20%;
	width:20%;
	height:auto;
}

#glitter10{
	position: absolute;
	bottom: 0;
	right: 0%;
	width:20%;
	height:auto;
}

#glitter11{
	-moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        filter: FlipH;
        -ms-filter: "FlipH";
	position: absolute;
	bottom: 0;
	left: 20%;
	width:20%;
	height:auto;
}

#glitter12{
	-moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        filter: FlipH;
        -ms-filter: "FlipH";
	position: absolute;
	bottom: 0;
	left: 0%;
	width:20%;
	height:auto;
}



#pick1{
	transform: rotate(180deg);
	position: absolute;
	bottom: 0;
	left: 20%;
	width:20%;
	height:auto;
	z-index: 3000;

}

#pick2{
	transform: rotate(180deg);
	position: absolute;
	bottom:0;
	right: 20%;
	width:20%;
	height:auto;
	z-index: 3000;

}

















#diamond{
	position: absolute;
	top: 35%;
	width: 20%;
	height: auto;
	left: 5%;
	z-index: 7000;

}


#class{
	z-index: 7000;
}







#container{
	position: absolute;
	bottom:0;
	right: 0;
	z-index: 1000;
	height: 100%;
	width: 100%;
	background: linear-gradient(#f12711, #f5af19);
	opacity: 0.8;
	z-index: 1000;
}

